* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
}

.fdb-block .text-h1, .fdb-block h1 {
    font-size: 1.75rem;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    font-weight: 400;
}

.fdb-block .text-h2, .fdb-block h2 {
    font-size: 1rem;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    font-weight: 400;
}

.fdb-block .text-h3, .fdb-block h3 {
    font-size: 0.875rem;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    font-weight: 400;
}

.progress-list .progressbar.line {
    height: 8px;
    background-color: rgb(244, 244, 244);
}

.footer-1 .media-container-row {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 100%;
    color: rgb(122, 122, 122);
}

.footer-1 a {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer-1 .mbr-text {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}

header {
    background-color: rgb(255, 255, 255);
}

header .navbar-nav a.nav-link {
    color: rgb(119, 119, 119);
}

header .navbar-nav a.nav-link:hover {
    color: rgb(82, 139, 255);
}

header .navbar-nav .active a.nav-link {
    color: rgb(68, 68, 68);
}

header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

header.bg-dark .navbar-nav a.nav-link {
    color: rgb(220, 220, 220);
}

header.bg-dark .navbar-nav a.nav-link:hover {
    color: rgb(82, 139, 255);
}

header.bg-dark .navbar-nav .active a.nav-link {
    color: rgb(255, 255, 255);
}

header.bg-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

header + header {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(238, 238, 238);
}

#header:not(.sticky-header) #logo a {
    opacity: 0;
    pointer-events: none;
}

.c62412 {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: 微软雅黑;
}

.c65290 {
    color: rgb(33, 37, 41);
    font-family: Roboto, sans-serif;
    text-align: var(--bs-body-text-align);
}

.c65308 {
    color: rgb(33, 37, 41);
    font-family: Roboto, sans-serif;
    text-align: var(--bs-body-text-align);
}